-- Generated NBA Faculty Updates
-- Processing c:\Users\CSE_DEAN\Desktop\nriit-generativeai-campus\FILESOURCES\CSVs\e-NBA-prequalifier-cse.csv for CSE
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('20/10/2014', 'DD/MM/YYYY'),
    pan_number = 'AGZPK9875A',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%KNAGESWARARAO%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('19/05/2015', 'DD/MM/YYYY'),
    pan_number = 'AJBPJ5874D',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%UnknownFaculty%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('12/03/2012', 'DD/MM/YYYY'),
    pan_number = 'AHJPV7914J',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%VKPRATAP%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('11/02/2016', 'DD/MM/YYYY'),
    pan_number = 'BCJPD3175R',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%DHARIKRISHNA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('09/09/2021', 'DD/MM/YYYY'),
    pan_number = 'BISPC5648H',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%CHBINDU%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('03/12/2018', 'DD/MM/YYYY'),
    pan_number = 'AQXPY6818K',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%YJESSY%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/07/2018', 'DD/MM/YYYY'),
    pan_number = 'ASUPN0182C',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%NKANTHI%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/08/2018', 'DD/MM/YYYY'),
    pan_number = 'FRNPK0670R',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%KMANVITHA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/07/2020', 'DD/MM/YYYY'),
    pan_number = 'CRVPB4846F',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%UnknownFaculty%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/09/2021', 'DD/MM/YYYY'),
    pan_number = 'CDZPG3632C',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%GSOWMYA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/11/2012', 'DD/MM/YYYY'),
    pan_number = 'FMBPP4788J',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%RAZIYA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('15/04/2019', 'DD/MM/YYYY'),
    pan_number = 'COTPD0280A',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%UnknownFaculty%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('20/11/2013', 'DD/MM/YYYY'),
    pan_number = 'BBEPP2042K',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%PSWATHI%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('06/01/2016', 'DD/MM/YYYY'),
    pan_number = 'EEZPS2467P',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SSOWJANYA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('15/05/2012', 'DD/MM/YYYY'),
    pan_number = 'APSPN0854N',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRNVAMSI%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('09/12/2014', 'DD/MM/YYYY'),
    pan_number = 'NPYPY5159E',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSPRATNA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('09/06/2016', 'DD/MM/YYYY'),
    pan_number = 'FLIPS5042C',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSKKAVYASRI%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/09/2022', 'DD/MM/YYYY'),
    pan_number = 'BRJPG4572Q',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%GSINDHUJA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/09/2021', 'DD/MM/YYYY'),
    pan_number = 'KTBPS1307E',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSSHAIK%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('05/05/2022', 'DD/MM/YYYY'),
    pan_number = 'ASHPN9227F',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRNPRADEEP%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/12/2013', 'DD/MM/YYYY'),
    pan_number = 'ALEPV8806A',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRUU%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('08/06/2015', 'DD/MM/YYYY'),
    pan_number = 'ANEPL3244L',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSVASHALATHA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('08/06/2015', 'DD/MM/YYYY'),
    pan_number = 'AOTPV8598R',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRVSURESH%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'MS', 
    date_of_joining = TO_DATE('18/11/2011', 'DD/MM/YYYY'),
    pan_number = 'BZSPB9501P',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRKOMMURI%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/09/2023', 'DD/MM/YYYY'),
    pan_number = 'DCOPP4624Q',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSSANUSHA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/06/2004', 'DD/MM/YYYY'),
    pan_number = 'AISPJ9290M',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRJRAMU%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('21/08/2018', 'DD/MM/YYYY'),
    pan_number = 'CHSPD3354F',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SCIENCEANDDRDARAVIKRAMSYSTEM%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/10/2023', 'DD/MM/YYYY'),
    pan_number = 'DFJPS0129M',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSSKHUSSAINBI%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('09/12/2013', 'DD/MM/YYYY'),
    pan_number = 'APYPD0479D',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRDKOTESWARA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/03/2015', 'DD/MM/YYYY'),
    pan_number = 'AAJPE3195R',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRINAGESWARA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/10/2023', 'DD/MM/YYYY'),
    pan_number = 'CJDPK3471R',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSKSAI%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/01/2004', 'DD/MM/YYYY'),
    pan_number = 'AMAPM7701Q',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRMARUNKUMAR%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/03/2015', 'DD/MM/YYYY'),
    pan_number = 'BTYPP5435L',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRPARAVIND%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('18/12/2017', 'DD/MM/YYYY'),
    pan_number = 'ACDPY4427C',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%DRYVRAGHAVA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('11/04/2016', 'DD/MM/YYYY'),
    pan_number = 'AMNPB4541J',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSBSUJATHA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('03/03/2014', 'DD/MM/YYYY'),
    pan_number = 'CSTPM2022D',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSMUMADEVI%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('18/02/2019', 'DD/MM/YYYY'),
    pan_number = 'BBEPK6502R',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%DRKODERAJIV%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('24/06/2019', 'DD/MM/YYYY'),
    pan_number = 'ATTPD1757H',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%DSARADAMANI%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('03/04/2017', 'DD/MM/YYYY'),
    pan_number = 'BZXPG5143F',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRGASHOKBABU%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/10/2024', 'DD/MM/YYYY'),
    pan_number = 'CNKPA0778G',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRADDANKI%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/04/2017', 'DD/MM/YYYY'),
    pan_number = 'EBQPK7677J',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSKOPURI%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/12/2017', 'DD/MM/YYYY'),
    pan_number = 'EBJPK8148B',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRKRAMA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('18/08/2011', 'DD/MM/YYYY'),
    pan_number = 'CDTPS3716F',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSPSUJATHA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('20/07/2011', 'DD/MM/YYYY'),
    pan_number = 'BTLPM1693N',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MRSMALEKHYA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('09/04/2022', 'DD/MM/YYYY'),
    pan_number = 'NFNPS3820D',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MrGANTA%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('08/11/2019', 'DD/MM/YYYY'),
    pan_number = 'BASPG9439G',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%DrGMahesh%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('20/12/2019', 'DD/MM/YYYY'),
    pan_number = 'HSKPK9569M',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%DrGKalyani%') 
    AND (dept_code ILIKE 'CSE' OR dept_code IN (SELECT code FROM departments WHERE code='CSE'));
-- Processing c:\Users\CSE_DEAN\Desktop\nriit-generativeai-campus\FILESOURCES\CSVs\e-NBA-prequalifier-ece.csv for ECE
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('01/02/2013', 'DD/MM/YYYY'),
    pan_number = 'AHHPK9247R',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SRIHARIRAOKOMATINENI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/08/2017', 'DD/MM/YYYY'),
    pan_number = 'AXFPV1084P',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%VENUGOPALA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('14/03/2016', 'DD/MM/YYYY'),
    pan_number = 'DEOPS4571H',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SESHAGIRIRAO%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('29/12/2014', 'DD/MM/YYYY'),
    pan_number = 'BUSPD1865K',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%LAKSHMIDARSI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/05/2004', 'DD/MM/YYYY'),
    pan_number = 'ASKPK4364K',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SUJATAKANDUKURI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/03/2017', 'DD/MM/YYYY'),
    pan_number = 'CAGPM8971A',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MANASA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/03/2017', 'DD/MM/YYYY'),
    pan_number = 'ATRPV1800B',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%NAGAJYOTHIVALETI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('29/05/2020', 'DD/MM/YYYY'),
    pan_number = 'BTRPP5257M',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%PRAMEELAPODILI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('05/04/2019', 'DD/MM/YYYY'),
    pan_number = 'FOIPP2075D',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SRILAKSHMI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('04/06/2021', 'DD/MM/YYYY'),
    pan_number = 'CFBPG9923C',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SAIKUMARGOPU%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('29/10/2024', 'DD/MM/YYYY'),
    pan_number = 'QPHPS2639M',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SARIPUDISUNEETHA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('21/05/2020', 'DD/MM/YYYY'),
    pan_number = 'DXPPM3850M',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%BINDUSRI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('24/07/2018', 'DD/MM/YYYY'),
    pan_number = 'MURPS2833L',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%YARRUSREEJA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('24/02/2017', 'DD/MM/YYYY'),
    pan_number = 'GTAPS5001N',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SHAHANAJSHAIK%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('14/07/2017', 'DD/MM/YYYY'),
    pan_number = 'DCOPP4624Q',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%KANVITHA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('08/07/2022', 'DD/MM/YYYY'),
    pan_number = 'FQDPS3325A',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%HANEEFSHAIK%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/07/2013', 'DD/MM/YYYY'),
    pan_number = 'ASLPV6028N',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%PAVANIVELAGA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('21/11/2014', 'DD/MM/YYYY'),
    pan_number = 'CUHPK9709F',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%KIRANKUMAR%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('22/11/2016', 'DD/MM/YYYY'),
    pan_number = 'BDXPT1598R',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%TAMILVANAMM%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('01/06/2023', 'DD/MM/YYYY'),
    pan_number = 'CHOPB4463R',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%BHEEMANAINDU%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('20/02/2023', 'DD/MM/YYYY'),
    pan_number = 'CYUPA3019H',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%VIJAYKUMAR%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('28/01/2013', 'DD/MM/YYYY'),
    pan_number = 'APIPC7075C',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SATYANARAYANA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('23/08/2018', 'DD/MM/YYYY'),
    pan_number = 'BBZPK0581M',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%CHETTYKALAISELVAN%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('17/10/2011', 'DD/MM/YYYY'),
    pan_number = 'BGQPA7840D',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%GIRIDHARBABU%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('15/03/2011', 'DD/MM/YYYY'),
    pan_number = 'BNXPP9154K',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MANOHARPATRA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('07/07/2008', 'DD/MM/YYYY'),
    pan_number = 'BKOPP3138F',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%AMALAPAYALA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('04/09/2023', 'DD/MM/YYYY'),
    pan_number = 'CDZPM3649D',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%RAVIMANCHARLA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('02/08/2018', 'DD/MM/YYYY'),
    pan_number = 'EGKPD8991P',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SRAVYA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('23/11/2015', 'DD/MM/YYYY'),
    pan_number = 'ARJPX9955E',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%LAKSHMINARAYANA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('06/11/2014', 'DD/MM/YYYY'),
    pan_number = 'AVAPB1718M',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MEENAKSHIBOLLU%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('14/09/2017', 'DD/MM/YYYY'),
    pan_number = 'AHLPB1060B',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SAIDAIAHBANDI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('19/11/2009', 'DD/MM/YYYY'),
    pan_number = 'ASEPM5158P',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MOPARTHYMARY%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('04/10/2024', 'DD/MM/YYYY'),
    pan_number = 'AEWPJ3828H',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%JAMPANIKRISHNAKISHORE%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('01/11/2019', 'DD/MM/YYYY'),
    pan_number = 'AGFPV0118D',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%VNAGAMALLESWARI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('15/05/2015', 'DD/MM/YYYY'),
    pan_number = 'AIJPD0508K',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SANJAYDOLA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('06/04/2021', 'DD/MM/YYYY'),
    pan_number = 'DRJPS6283L',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%BABAFARIDDIN%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('24/03/2022', 'DD/MM/YYYY'),
    pan_number = 'CDJPT2228K',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%POTHULATEJA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('03/04/2023', 'DD/MM/YYYY'),
    pan_number = 'DRJPS6283L',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%UJJIT%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('21/04/2022', 'DD/MM/YYYY'),
    pan_number = 'AYGPN4082P',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%VEERENDRANATH%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('11/03/2021', 'DD/MM/YYYY'),
    pan_number = 'DWQPB6348H',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SAIBANAVATHU%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('06/04/2023', 'DD/MM/YYYY'),
    pan_number = 'FEUPS3646D',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%FAIROZESHAIK%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('12/07/2023', 'DD/MM/YYYY'),
    pan_number = 'BUSPD1865K',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%PRASANNAKUMAR%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('28/05/2014', 'DD/MM/YYYY'),
    pan_number = 'AFDPU1254J',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%ANJANEYULU%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('15/06/2017', 'DD/MM/YYYY'),
    pan_number = 'CKSPG9700M',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%LALITHAGOGINENI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('12/03/2021', 'DD/MM/YYYY'),
    pan_number = 'DRQPB6379P',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%AKHILA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('09/04/2020', 'DD/MM/YYYY'),
    pan_number = 'EPHPM2533E',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%TRIVENILAKSHMI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('10/11/2005', 'DD/MM/YYYY'),
    pan_number = 'BEGPK5272R',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%KMURALIBABU%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('18/03/2021', 'DD/MM/YYYY'),
    pan_number = 'DRJPS6283L',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%BBHASKAR%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('04/05/2012', 'DD/MM/YYYY'),
    pan_number = 'AWKPC1868N',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%RAMBABU%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('12/09/2002', 'DD/MM/YYYY'),
    pan_number = 'AAMPG2168H',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%VGAJENDRAKUMAR%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('17/03/2017', 'DD/MM/YYYY'),
    pan_number = 'GBBPS2948B',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%VALLURIYAMINIDEVI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('06/03/2012', 'DD/MM/YYYY'),
    pan_number = 'APQPD3328D',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SATYANARAYANA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('08/02/2019', 'DD/MM/YYYY'),
    pan_number = 'BADPV4745F',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%CHAITANYA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('23/06/2017', 'DD/MM/YYYY'),
    pan_number = 'BUSPD1865K',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%BALANARSIMHA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('13/07/2020', 'DD/MM/YYYY'),
    pan_number = 'AQIPV5993B',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%VANIVEERA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('20/04/2017', 'DD/MM/YYYY'),
    pan_number = 'DRQPB6379P',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%NEELIMASARIPALLI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('09/04/2020', 'DD/MM/YYYY'),
    pan_number = 'BUSPD1865K',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%NSHANTHI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('18/06/2021', 'DD/MM/YYYY'),
    pan_number = 'DRQPB6379P',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%DVASANTHI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('10/04/2020', 'DD/MM/YYYY'),
    pan_number = 'DRJPS6283L',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MALLADISUMANTH%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('12/04/2019', 'DD/MM/YYYY'),
    pan_number = 'CJLPB5181R',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%CVJAIKUMAR%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('06/03/2020', 'DD/MM/YYYY'),
    pan_number = 'AYHPP3809M',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%VANJIKUMAR%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('23/08/2019', 'DD/MM/YYYY'),
    pan_number = 'CSSPS1158M',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%VIJAYADURGA%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('05/05/2011', 'DD/MM/YYYY'),
    pan_number = 'AWVPM2459C',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MFRANCIES%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('17/09/2018', 'DD/MM/YYYY'),
    pan_number = 'LALPS0336R',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%BABURAJAKSHAIK%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('05/03/2020', 'DD/MM/YYYY'),
    pan_number = 'CVQPD1454E',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%LAKSHMI%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('12/04/2022', 'DD/MM/YYYY'),
    pan_number = 'ANBPV2526Q',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%VENKETESWARARAO%') 
    AND (dept_code ILIKE 'ECE' OR dept_code IN (SELECT code FROM departments WHERE code='ECE'));
-- Processing c:\Users\CSE_DEAN\Desktop\nriit-generativeai-campus\FILESOURCES\CSVs\e-NBA-prequalifier-it.csv for IT
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('24/10/2011', 'DD/MM/YYYY'),
    pan_number = 'AMGPB4443C',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%BATTULA%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('27/08/2018', 'DD/MM/YYYY'),
    pan_number = 'CAUPP4414P',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%PATCHALA%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('27/09/2021', 'DD/MM/YYYY'),
    pan_number = 'CKUPG6787L',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%GARNEPUDI%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('20/12/2013', 'DD/MM/YYYY'),
    pan_number = 'AGNPC4621Q',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%USHA%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('24/09/2014', 'DD/MM/YYYY'),
    pan_number = 'BZEPA5209F',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%PURNIMA%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('26/10/2017', 'DD/MM/YYYY'),
    pan_number = 'ENNBK9054E',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%KONJETI%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('28/04/2022', 'DD/MM/YYYY'),
    pan_number = 'FFEPD1851Q',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%DUTTADEVIKA%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('22/04/2011', 'DD/MM/YYYY'),
    pan_number = 'APCPP4507Q',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%SRINIVASREDDYPALLE%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('17/08/2018', 'DD/MM/YYYY'),
    pan_number = 'GKBPK4116E',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%KOTATRIVENI%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('28/06/2016', 'DD/MM/YYYY'),
    pan_number = 'ATPPK6474N',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%KAMMILIJAGANMOHAN%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('29/12/2014', 'DD/MM/YYYY'),
    pan_number = 'BEWPD1223D',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%GIRINATH%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('15/09/2014', 'DD/MM/YYYY'),
    pan_number = 'CSYPM7167A',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%MALLIKARJUNA%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'M.Tech', 
    date_of_joining = TO_DATE('28/05/2018', 'DD/MM/YYYY'),
    pan_number = 'GOIPD3934Q',
    designation = 'Assistant Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%NADAPARAJU%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('02/11/2016', 'DD/MM/YYYY'),
    pan_number = 'ABTPE8752D',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%EDURUNAGARJUNA%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));
UPDATE faculty_profiles 
SET 
    qualification = 'Ph.D', 
    date_of_joining = TO_DATE('23/07/2018', 'DD/MM/YYYY'),
    pan_number = 'BAVPG0343L',
    designation = 'Professor'
WHERE 
    (REPLACE(REPLACE(full_name, ' ', ''), '.', '') ILIKE '%GANGAPATNAM%') 
    AND (dept_code ILIKE 'IT' OR dept_code IN (SELECT code FROM departments WHERE code='IT'));

-- Admissions Data (CSE Only - Extracted)

INSERT INTO nba_admissions (department_id, academic_year, sanctioned_intake, admitted_count, lateral_entry_count)
VALUES 
((SELECT id FROM departments WHERE code='CSE' LIMIT 1), '2024-25', 360, 311, 11),
((SELECT id FROM departments WHERE code='CSE' LIMIT 1), '2023-24', 150, 164, 5),
((SELECT id FROM departments WHERE code='CSE' LIMIT 1), '2022-23', 150, 144, 12)
ON CONFLICT (department_id, academic_year) DO UPDATE SET 
    sanctioned_intake = EXCLUDED.sanctioned_intake,
    admitted_count = EXCLUDED.admitted_count;


-- Vision Placeholder

INSERT INTO nba_program_details (department_id, vision, mission)
VALUES ((SELECT id FROM departments WHERE code='CSE' LIMIT 1), 
'To produce globally competent computer professionals with social responsibility.',
'M1: To provide quality education... M2: To promote research... M3: To inculcate ethical values...')
ON CONFLICT (department_id) DO NOTHING;

